.jumbotron{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./../../../assets/1.jpg);
  background-size: cover;
  background-position: center;
  height: 20em;
}

.logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 15em;
}