.jumbotron{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../../assets/1.jpg);
  background-size:cover;
  height: 20em;
  color: white;
  
}

.btn{
  margin-left: auto;
  color: white;
}