<div class="card" style="width: 18rem;">
  <div class="card-body">
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
      <div class="form-group">
      
        <label for="name">Name</label>
        <input type="name" required class="form-control" id="name" [(ngModel)]="newQuote.name" name="name">
        <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger"></div> -->
      </div>

      <div class="form-group">
        <label for="text">Enter Quote:</label><br>
        <textarea name="text" form="form-group" id="textarea" [(ngModel)]="newQuote.text"></textarea>
        <!-- <div [hidden]="text.valid || text.pristine" class="alert alert-danger"></div> -->
      </div>

      <label for="author">Author:</label><br>
      <input type="text" id="author" name="author"><br>
      <!-- <div [hidden]="author.valid || author.pristine" class="alert alert-danger"></div> -->
      <div>
        <button type="submit" class="btn btn-dark m-3">Add Quote</button>
      </div>
    </form>

  </div>
</div>