<div>
  <app-form (addQuote)="addNewQuote($event)"></app-form>
</div>
<div class="container quote-card-container">
  <div *ngFor='let quote of quotes; let i = index'>
    <div class="card shadow p-3 mb-5 bg-white rounded card quote-card">
      <div class="card-body">
        <strong>Quotted by: {{quote.name|uppercase}}</strong>
        <hr>
        <p appLike *ngIf="highestLikebtn()===quote.likes && quote.likes>0">
         {{quote.text}}  <br> 
        </p>
        <p *ngIf="highestLikebtn()!==quote.likes || quote.likes===0">{{quote.text}}
        </p>
        <p>
          Created: <span>{{ quote.newDate|daysCount}}</span>
        </p>
        <br>
        <div>
          <app-quote-details [quotes]='quote' (toDelete)='quoteDelete($event,i)'></app-quote-details>
        </div>
      </div>
    </div>
  </div>
</div>
